<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new customer</title>
</head>
<body>
    <h1>Add a new Customer</h1>
    <form action="/saveCustomer" method="post">

        <p>First Name: <input name="first"/></p>
        <p>Last Name: <input name="last"/></p>
        <p>Phone Number: <input name="phone"/></p>

        <input type="submit" value="Add Customer">

    </form>
</body>
</html>