<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sign up form</h2>
    <form action="signup" method="post">
        <p>First Name: <input name="firstName"></p>
        <p>LastName: <input name="lastName"></p>
        <p>Address:</p>
        <p>Street: <input name="address.street"></p>
        <p>ZipCode: <input name="address.zipcode"></p>
        <input type="submit" value="Sign Up" />
    </form>
</body>
</html>